{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Zoho</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: white">Projects View</a>
    </div>
    <ul class="nav navbar-nav pull-right" >
        <li><a href="#" style="color: white; padding-right: 20px;">{{ user|upper }}</a></li>
      <li><a href="/logout_user/" style="color: white">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="space" style="padding-top: 10px;"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/project_list/?name=hdfc&status=all&csm=all">Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/project_filter/?csm=all">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CSMs</a>
      </li>

    </ul>
  </div>
</nav>
<div class="col-md-12" style="text-align: center;padding-top: 20px;"> <label class="text-success"><strong>{{ name }}</strong></label>


    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>SNo.</th>
                <th>Task Name</th>

                <th>Description</th>
{#                <th>Task ID</th>#}
{#                <th>Milestone ID</th>#}
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Subtasks</th>
{#                <th>Timesheet</th>#}
{#                <th>Assigned To</th>#}
                <th>Created Time</th>
                <th>Completed</th>
                <th>Percent Complete</th>
{#                <th>Completed Time</th>#}
            </tr>
        </thead>
        <tbody>
        {% if current_task %}
             {% for t in current_task %}
            <tr>
                            <td>{{forloop.counter}}</td>
                <td>{{t.task_name}}</td>

                <td>{% if t.description == None or t.description == "" %} No Description {% else %}{{t.description}}{% endif %}</td>
{#                <td><a href="https://projects.zoho.com/portal/indigoconsulting#taskdetail/{{ t.project_id }}/{{ t.task_list_id }}/{{ t.task_id }}#}
{#">{{t.task_id}}</a> </td>#}
{#                <td>{{t.milestone_id}}</td>#}
                <td>{{t.start_date}}</td>
                <td>{{t.end_date}}</td>
                <td>{% if t.status == 'Closed' %} <label class="text-success">{{t.status}}</label>
                    {% elif t.status == 'Open' and date_today < t.end_date %} <label class="text-success">{{t.status}}</label>
                    {% elif t.status == 'Open' and t.end_date == None %} <label class="text-danger">{{t.status}}</label>

                    {% else %} <label class="text-danger">{{t.status}}</label>
                    {% endif %}
                </td>
                <td>{{t.subtasks}}</td>
{#                <td><a href="/time_sheet_task/{{t.id}}">Timesheet</a> </td>#}
{#                <td>{{ t.owner }}</td>#}
                <td>{{t.created_time}}</td>
                <td>{{t.completed}}</td>
                <td>{{t.percent_complete}}</td>
{#                <td>{{t.completed_time}}</td>#}
            </tr>
            {% endfor %}
        {% else %}
        <tr>
        <td colspan="14"style="text-align: center">No Data Found</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

<hr>
</div></div>

<script>
    $(".shipment_sold").click(function(){
    //  alert("Invalid Shipment Number");
        var task_id=$(this).attr("task_id");

        $("#" + task_id ).toggle();
    });
</script>
</body>
</html>