
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Zoho</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Zoho Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%  url 'clients' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item ">

                <a class="nav-link" href="{%  url 'grant_view' %}">Project Gantt</a>
              </li>
        <li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </li>
    </ul>
      <div style="display: flex">
          <a class="text-success" href="#">Welcome {{ request.user|upper }}</a>
          <a class="text-danger" href="/logout_user/" style="padding-left: 10px;">Logout</a>
        </div>

  </div>
</nav>

<div style="padding-top: 70px">
<div class="col-md-12" style="text-align: center;padding-top: 20px;"> <label class="text-success">Milestone </label>


    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>SNo</th>
                <th>project</th>
                <th>owner_name</th>
                <th>name</th>
                <th>status</th>
                <th>end_date</th>
                <th>sequence</th>
                <th>start_date</th>
                <th>flag</th>
            </tr>
        </thead>
        <tbody>
        {% if mile_stone %}
             {% for t in mile_stone %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{t.project.name}}</td>
                <td>{{t.owner_name}}</td>
                <td>{{t.name}}</td>
                <td>{{t.status}}</td>
                <td>{{t.end_date|date:"d-m-y"}}</td>
                <td>{{t.sequence}}</td>
                <td>{{t.start_date}}</td>
                <td>{{t.flag}}</td>

            </tr>
            {% endfor %}
        {% else %}
        <tr>
        <td colspan="10"style="text-align: center">No Data Found</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>

<hr>
</div>
<script>
    $(".shipment_sold").click(function(){
    //  alert("Invalid Shipment Number");
        var task_id=$(this).attr("task_id");

        $("#" + task_id ).toggle();
    });
</script>
</body>
</html>