{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>#}
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">#}
{##}
{##}
{#    <title>Zoho</title>#}
{#</head>#}
{#<body>#}
{#<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">#}
{#  <a class="navbar-brand" href="#">Zoho Dashboard</a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#    <ul class="navbar-nav mr-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="{%  url 'clients' %}">Home <span class="sr-only">(current)</span></a>#}
{#      </li>#}
{#        <li class="nav-item ">#}
{##}
{#                <a class="nav-link" href="{%  url 'grant_view' %}">Project Gantt</a>#}
{#              </li>#}
{#         <li class="nav-item ">#}
{##}
{#                <a class="nav-link" href="{%  url 'resource_utilization' %}">Resource Utilization</a>#}
{#              </li>#}
{#        <li>#}
{#        <form class="form-inline my-2 my-lg-0">#}
{#      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
{#      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#    </form>#}
{#    </li>#}
{#    </ul>#}
{#      <div style="display: flex">#}
{#          <a class="text-success" href="#">Welcome {{ request.user|upper }}</a>#}
{#          <a class="text-danger" href="/logout_user/" style="padding-left: 10px;">Logout</a>#}
{#        </div>#}
{##}
{#  </div>#}
{#</nav>#}
{##}
{#<div class="col-md-12" style="text-align: center;padding-top: 70px;"> <label class="text-success"><strong>Projects </strong></label>#}
{##}
{#    <table class="table">#}
{#        <thead class="thead-dark">#}
{#            <tr>#}
{#                <th>SNo</th>#}
{#                <th>Project Name</th>#}
{#                <th>Start Date</th>#}
{#                <th>End Date</th>#}
{#                <th>Status</th>#}
{#                <th>Task Open</th>#}
{#                <th>Task Closed</th>#}
{#                <th>Milestone Open</th>#}
{#                <th>Milestone Close</th>#}
{#                <th>Current Task</th>#}
{#                <th>NW Task</th>#}
{#                <th>NW+1 Task</th>#}
{#                <th>NW+2 Task</th>#}
{##}
{#                {% comment %}<th>Milestone</th>#}
{#                <th>Detail</th>{% endcomment %}#}
{##}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            <tr>#}
{#                            <td>1</td>#}
{##}
{#                <td><a href="/project_task_list/{{ project.id }}">{{project.name}}</a></td>#}
{#                <td>{{project.start_date}}</td>#}
{#                <td>{{project.end_date}}</td>#}
{#                <td>{{project.status}}</td>#}
{#                <td>{%  if project.task_count_open > 0 %}<a href="/open_task/{{ project.id }}"> {{project.task_count_open}}</a>{%  else %}{{project.task_count_open}}{%  endif %}</td>#}
{#                <td>{%  if project.task_count_close > 0 %}<a href="/close_task/{{ project.id }}">  {{project.task_count_close}}</a>{%  else %}{{project.task_count_close}}{%  endif %}</td>#}
{#                <td>{%  if project.milestone_count_open > 0 %}<a href="/open_milestone/{{ project.id }}">  {{project.milestone_count_open}}</a>{%  else %}{{project.milestone_count_open}}{%  endif %}</td>#}
{#                <td>{%  if project.milestone_count_close > 0 %}<a href="/close_milestone/{{ project.id }}">  {{project.milestone_count_close}}</a>{%  else %}{{project.milestone_count_close}}{%  endif %}</td>#}
{#                <td>{{project.current_task}}</td>#}
{#                <td>{{project.future_date_one_week}}</td>#}
{#                <td>{{project.future_date_two_week}}</td>#}
{#                <td>{{project.future_date_three_week}}</td>#}
{#                {% comment %}<td><a href="/milestone/{{project.id}}">Milestone</a> </td>#}
{#                <td><a href="/detail/{{project.id}}"><i class="fas fa-arrow-right"></i></a> </td>{% endcomment %}#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}
{#</body>#}
{#</html>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


    <title>Zoho</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Zoho Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%  url 'clients' %}">Home <span class="sr-only">(current)</span></a>
        <li>
        <li class="nav-item ">

                <a class="nav-link" href="{%  url 'grant_view' %}">Project Gantt</a>
              </li>
         <li class="nav-item ">

                <a class="nav-link" href="{%  url 'resource_utilization' %}">Resource Utilization</a>
              </li>
        <li>
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </li>
    </ul>
      <div style="display: flex">
          <a class="text-success" href="#">Welcome {{ request.user|upper }}</a>
          <a class="text-danger" href="/logout_user/" style="padding-left: 10px;">Logout</a>
        </div>

  </div>
</nav>

<div class="col-md-12" style="text-align: center;padding-top: 70px;"> <label class="text-success"><strong>Projects </strong></label>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>SNo</th>
                <th>Project Name</th>
                <th width="140px">Start Date <br>End Date</th>
{#                <th>End Date</th>#}
                <th>Status</th>
                <th>Task</th>
{#                <th>Task Closed</th>#}
                <th>Milestone</th>
{#                <th>Milestone Close</th>#}
                <th>CW - 2 Task</th>
                <th>CW - 1 Task</th>
                <th>Current Task</th>
                <th>NW Task</th>
                <th>CSM</th>

                <th>Project Health</th>

                {% comment %}<th>Milestone</th>
                <th>Detail</th>{% endcomment %}

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>

                <td><a href="/project_task_list/{{ project.id }}"> {% if  project.color == "red"%}<span class="text-danger">{{project.name}}</span>{%  else %}<span class="text-success">{{project.name}}</span> {%  endif %}</a></td>
                <td width="140px">{{project.start_date}} <br>{{project.end_date}}</td>
{#                <td>{{project.end_date}}</td>#}
                <td>{% if  project.color == "red"%}<span class="text-danger">{{project.status}}</span>{%  else %}<span class="text-success">{{project.status}}</span> {%  endif %}</td>
{#                <td>{%  if project.task_count_open > 0 %}<a href="/open_task/{{ project.id }}"> {{project.task_count_open}}</a>{%  else %}{{project.task_count_open}}{%  endif %}</td>#}
                <td>{%  if project.task_count_open > 0 %}<a href="/all_tasks/{{ project.id }}">  {{project.task_count_close}}/{{project.task_count_open}}</a>{%  else %}{{project.task_count_close}}/{{project.task_count_open}}{%  endif %}</td>
{#                <td>{%  if project.milestone_count_open > 0 %}<a href="/open_milestone/{{ project.id }}">  {{project.milestone_count_open}}</a>{%  else %}{{project.milestone_count_open}}{%  endif %}</td>#}
                <td>{%  if project.milestone_count_open > 0 %}<a href="/all_milestone/{{ project.id }}">  {{project.milestone_count_close}}/{{project.milestone_count_open}}</a>{%  else %}{{project.milestone_count_close}}/{{project.milestone_count_open}}{%  endif %}</td>


                    <td>{%  if project.past_date_two_week > 0 %}<a href="/task_bifurcate/{{ project.id }}/?task=past_two">{{project.past_date_two_week}}</a>{%  else %}{{project.past_date_two_week}}{%  endif %}</td>
                    <td>{%  if project.past_date_one_week > 0 %}<a href="/task_bifurcate/{{ project.id }}/?task=past_one">{{project.past_date_one_week}}</a>{%  else %} {{project.past_date_one_week}}{%  endif %}</td>

                <td>{%  if project.current_task > 0 %}<a href="/task_bifurcate/{{ project.id }}/?task=present"> {{project.current_task}}</a> {%  else %}{{project.current_task}}{%  endif %}</td>
                <td> {%  if project.future_date_one_week > 0 %}<a href="/task_bifurcate/{{ project.id }}/?task=future"> {{project.future_date_one_week}}</a>{%  else %}{{project.future_date_one_week}}{%  endif %}</td>
                <td>{{project.csm}}</td>

                    <td style="text-align: center">
                    {%  if project.percent >= 85 %}    <i class="fas fa-check-circle" style="color: green;font-size: 30px;"></i>
                    {%  elif 75 <= project.percent and project.percent < 85 %}<i class="fas fa-exclamation-circle" style="color: orange;font-size: 30px;"></i>
                    {%  else %}<i class="fas fa-times-circle" style="color: red;font-size: 30px;"></i>
                    {%  endif %}
                </td>
                {% comment %}<td><a href="/milestone/{{project.id}}">Milestone</a> </td>

                <td><a href="/detail/{{project.id}}"><i class="fas fa-arrow-right"></i></a> </td>{% endcomment %}
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>